<!-- FOOTER-2 STARTS -->
table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
	tr
		td(align="center")
			+IE-1({width: table_width ,aling: 'center', valing: 'top'})
			div(style="display: inline-block; width: 100%; max-width: " + table_width + "px; vertical-align: top;")
				<!-- ID:BG FOOTER-1 OPTIONAL -->
				table(align="center" bgcolor="#FFFFFF" border="0" class="display-width" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + table_width + "px;")
					tr
						td(align="center" style="padding-left: " + body_pading_l + "px; padding-right: " + body_pading_r + "px;")
							+IE-1({width: body_width_1 ,aling: 'center', valing: 'top'})
							div(style="display: inline-block; width: 100%; max-width: " + body_width_1 + "px; vertical-align: top;")
								table(align="center" border="0" class="display-width-inner" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + body_width_1 + "px;")
									tr
										+td-margin({margin: 'mr-25'})
									tr
										td(align="center" style="font-size:0;")
											table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%;")
												tr
													td(align="center" style="font-size:0; width: 100%; max-width: 100%;")
														+IE-1({col: 2, width_col: '107', aling: 'center', valing: 'top'})
														div(style="display: inline-block;  width: 100%; max-width: 107px; vertical-align: top;")
															<!--TABLE LEFT-->
															table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center")
																		table(align="center" border="0" cellpadding="0" cellspacing="0" style="width: auto !important;")
																			tr
																				<!-- ID:TXT FOOTER-2 -->
																				td(align="center" style="color:#333333;" width="107")
																					a.link(href="#")
																						img(src=image_path+"logo.jpg" alt="log" width="107" height="32" style="display: block; padding: 0; margin: 0; border: 0;")

														+IE-1({col_td: 2, width_col: '519', aling: 'center', valing: 'top'})
														div(style="display: inline-block; width: 100%; max-width: 519px; vertical-align: top;")
															table(align="center" border="0" cellpadding="0" cellspacing="0" class="display-width-child" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center" style="font-size: 0;")
																		+IE-1({col: 2, width_col: '313', aling: 'center', valing: 'top'})
																		div(style="display:inline-block; width: 100%; max-width: 310px; vertical-align: top;")
																			table(align="left" border="0" cellpadding="0" cellspacing="0" class="display-width-child" width="100%" style="width: 100%; max-width: 211px;border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																				tr
																					td(width="100%" style="font-size:0;")
																						|&nbsp;
																		+IE-1({col_td: 2, width_col: '206', aling: 'center', valing: 'top'})
																		div(style="display: inline-block; width: 100%; max-width: 204px; vertical-align: top;")
																			<!--TABLE RIGHT-->
																			table(align="right" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																				tr
																					td(align="center" style="font-size:0;")
																						table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																							tr
																								td(align="center")
																									table(align="center" border="0" width="100%" cellpadding="0" cellspacing="0" style="width: auto !important;")
																										tr
																											+td-margin({height: '8'})
																										tr
																											<!-- ID:TXT FOOTER-1 -->
																											td(align="left" valign="middle" width="38")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-16-black--vk.png" alt="vk" width="16" height="15" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="38")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-16-black--twitter.png" alt="twitter" width="16" height="16" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="38")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-16-black--facebook.png" alt="facebook" width="16" height="16" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="38")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-16-black--linkedin.png" alt="linkedin" width="16" height="16" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="38")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-16-black--pinterest.png" alt="pinterest" width="16" height="16" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="16")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-16-black--instagram.png" alt="instagram" width="16" height="16" style="display: block; padding: 0; margin: 0; border: 0;")
																										tr
																											+td-margin({height: '6'})
																		|!{IE_TABLE_END}
														|!{IE_TABLE_END}
									tr
										+td-margin({margin: 'mr-20'})
									tr
										td(align="center" style="font-size:0;")
											table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%;")
												tr
													td(align="center" style="font-size:0; width: 100%; max-width: 100%;")
														+IE-1({col: 2, width_col: '345', aling: 'center', valing: 'top'})
														div(style="display: inline-block;  width: 100%; max-width: 343px; vertical-align: top;")
															<!--TABLE LEFT-->
															table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center")
																		table(align="center" border="0" cellpadding="0" cellspacing="0" style="width: auto !important;")
																			tr
																				<!-- ID:TXT HEADER-2 -->
																				td.text-small.text--balck(align="left") © 2020 Freelancer Technology Pty Limited. All Rights Reserved. 
														+IE-1({col_td: 2, width_col: '283', aling: 'center', valing: 'top'})
														div(style="display: inline-block; width: 100%; max-width: 283px; vertical-align: top;")
															table(align="center" border="0" cellpadding="0" cellspacing="0" class="display-width-child" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center" style="font-size: 0;")
																		+IE-1({col: 2, width_col: '218', aling: 'center', valing: 'top'})
																		div(style="display:inline-block; width: 100%; max-width: 214px; vertical-align: top;")
																			table(align="left" border="0" cellpadding="0" cellspacing="0" class="display-width-child" width="100%" style="width: 100%; max-width: 211px;border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																				tr
																					td(width="100%" style="font-size:0;")
																						|&nbsp;
																		+IE-1({col_td: 2, width_col: '70', aling: 'center', valing: 'top'})
																		div(style="display: inline-block; width: 100%; max-width: 67px; vertical-align: top;")
																			<!--TABLE RIGHT-->
																			table(align="right" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																				tr
																					td(align="center" style="font-size:0;")
																						table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																							tr
																								td(align="center")
																									table(align="center" border="0" width="100%" cellpadding="0" cellspacing="0" style="width: auto !important;")
																										tr
																											<!-- ID:TXT FOOTER-2 -->
																											td.text-small(align="left" valign="middle")
																												a.link.link--tdecor.link--balack(href="#" target="_blank") Unsubscribe
									tr
										+td-margin({margin: 'mr-25'})
							|!{IE_TABLE_END}
			|!{IE_TABLE_END}
<!-- FOOTER-2 ENDS -->