mixin block-vertical-2(data)
	<!-- BLOCK-VERTICAL STARTS -->
	table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
		tbody
			tr
				td(align="center")
					+IE-1({width: table_width ,aling: 'center', valing: 'top'})
					div(style="display: inline-block; width: 100%; max-width: " + table_width + "px; vertical-align: top;")
						<!-- ID:BG SECTION-1 -->
						table(align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + table_width + "px;")
							tbody
								tr
									td(align="center" style="padding-left: " + body_pading_l_col_2 + "px; padding-right: " + body_pading_r_col_2 + "px;")
										+IE-1({width: body_width_col_2 ,aling: 'center', valing: 'top'})
										div(style="display: inline-block; width: 100%; max-width: " + body_width_col_2 + "px; vertical-align: top;")
											table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + body_width_col_2 + "px;")
												tbody
													tr
														td
															table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
																tr
																	td(align="center" style="font-size: 0;")
																		+IE-1({col: 2, width_col: td_2_col_width, aling: 'center', valing: 'top'})
																		div( style="display: inline-block; width: 100%; max-width: " + td_2_col_width + "px; vertical-align: top;")
																			<!-- TABLE LEFT -->
																			table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																				tr
																					td(align="center" style="padding: 10px 17px;")
																						table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace :0pt; width:auto !important;")
																							tbody
																								tr
																									td(align="center" style="color:#666666; line-height:0px;" width="298")
																										img(src=image_path+data.img, border="0" alt="" width="298" height="180" style="display: block; width: 100%; max-width: 298px; height: auto; margin: 0; border: 0; padding: 0; outline: none;")
																		+IE-1({col_td: 2, width_col: td_2_col_width, aling: 'center', valing: 'top'})
																		div( style="display: inline-block; width: 100%; max-width: " + td_2_col_width + "px; vertical-align: top;")
																			<!-- TABLE RIGHT -->
																			table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																				tr
																					td(align="center" style="padding: 10px 17px;")
																						table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace :0pt; width:auto !important;")
																							tbody
																								tr
																									td.text.text--subtitle(align="left" valign="top")!=data.subtitle
																								tr
																									td.h3(align="left" valign="top")!=data.title
																								tr
																									+td-margin({margin: 'mr-5'})
																								tr
																									td.text(align="left" valign="top")!=data.text
																								tr
																									+td-margin({margin: 'mr-25'})
																								tr
																									td(align="left" valign="top")
																										a(href="#" target="_blank")
																											img(src=image_path+"btn-164__dark-01.png" border="0" alt="btn" width="164" height="44" style="display: block; width: 100%; max-width: 164px; height: auto; margin: 0; border: 0; padding: 0; outline: none;")
																		|!{IE_TABLE_END}
										|!{IE_TABLE_END}
					|!{IE_TABLE_END}
	<!--  BLOCK-VERTICAL STARTS -->