<!-- 4-IMG-BRENDS STARTS -->
table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
	tbody
		tr
			td(align="center")
				+IE-1({width: table_width ,aling: 'center', valing: 'top'})
				div(style="display: inline-block; width: 100%; max-width: " + table_width + "px; vertical-align: top;")
					<!-- ID:BG SECTION-1 -->
					table(align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + table_width + "px;")
						tbody
							tr
								td(align="center" style="padding-left: " + body_pading_l + "px; padding-right: " + body_pading_r + "px;")
									+IE-1({width: '664' ,aling: 'center', valing: 'top'})
									div(style="display: inline-block; width: 100%; max-width: 664px; vertical-align: top;")
										table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 664px;")
											tbody
												tr
													+td-margin({height: '45'})
												tr
													td(align="center" style="font-size:0;")
														+IE-1({col: 2, width_col: '164', aling: 'center', valing: 'top'})
														div( style="display: inline-block; width: 100%; max-width: 164px; vertical-align: top;")
															<!-- TABLE LEFT -->
															table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center" style="padding: 15px 14px;")
																		table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;")
																			tr
																				td(align="center" width="134" style="color: #666666;")
																					a(href="#" target="_blank")
																						img(src=image_path+"brend-134--handmade.jpg" alt="handmade" width="134" height="37" style="display: block; width: 100%; max-width: 134px; height: auto; margin: 0; border: 0; padding: 0; outline: none;")

														+IE({col_td: 2, width_col: '164', aling: 'center', valing: 'top'})
														div( style="display: inline-block; width:100%; max-width: 164px; vertical-align: top;")
															<!-- TABLE LEFT-2 -->
															table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center" style="padding: 15px 14px;")
																		table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;")
																			tr
																				td(align="center" width="134" style="color: #666666;")
																					a(href="#" target="_blank")
																						img(src=image_path+"brend-134--handcrafred.jpg" alt="handcrafred" width="134" height="37" style="display: block; width: 100%; max-width: 134px; height: auto; margin: 0; border: 0; padding: 0; outline: none;")

														+IE({col_td: 2, width_col: '164', aling: 'center', valing: 'top'})
														div( style="display: inline-block; width:100%; max-width: 164px; vertical-align: top;")
															<!-- TABLE RIGTH-2 -->
															table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center" style="padding: 15px 14px;")
																		table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;")
																			tr
																				td(align="center" width="134" style="color: #666666;")
																					a(href="#" target="_blank")
																						img(src=image_path+"brend-134--handpure.jpg" alt="handpure" width="134" height="37" style="display: block; width: 100%; max-width: 134px; height: auto; margin: 0; border: 0; padding: 0; outline: none;")

														+IE({col_td: 2, width_col: '164', aling: 'center', valing: 'top'})
														div( style="display: inline-block; width:100%; max-width: 164px; vertical-align: top;")
															<!-- TABLE RIGTH -->
															table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center" style="padding: 15px 14px;")
																		table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;")
																			tr
																				td(align="center" width="134" style="color: #666666;")
																					a(href="#" target="_blank")
																						img(src=image_path+"brend-134--cirst.jpg" alt="cirst" width="134" height="37" style="display: block; width: 100%; max-width: 134px; height: auto; margin: 0; border: 0; padding: 0; outline: none;")
														|!{IE_TABLE_END}
												tr
													+td-margin({height: '45'})
									|!{IE_TABLE_END}
				|!{IE_TABLE_END}
<!-- 4-IMG-BRENDS ENDS -->