<!-- HEADER-4 STARTS -->
table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
	tr
		td(align="center")
			+IE-1({width: table_width ,aling: 'center', valing: 'top'})
			div(style="display: inline-block; width: 100%; max-width: " + table_width + "px; vertical-align: top;")
				<!-- ID:BG HEADER-3 OPTIONAL -->
				table(align="center" bgcolor="#3A3A3A" border="0" class="display-width" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + table_width + "px;")
					tr
						td(align="center" style="padding-left: " + body_pading_l + "px; padding-right: " + body_pading_r + "px;")
							+IE-1({width: body_width_1 ,aling: 'center', valing: 'top'})
							div(style="display: inline-block; width: 100%; max-width: " + body_width_1 + "px; vertical-align: top;")
								table(align="center" border="0" class="display-width-inner" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + body_width_1 + "px;")
									tr
										+td-margin({margin: 'mr-25'})
									tr
										td(align="center" style="font-size:0;")
											table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%;")
												tr
													td(align="center" style="font-size:0; width: 100%; max-width: 100%;")
														+IE-1({col: 2, width_col: '107', aling: 'center', valing: 'top'})
														div(style="display: inline-block;  width: 100%; max-width: 107px; vertical-align: top;")
															<!--TABLE LEFT-->
															table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center")
																		table(align="center" border="0" cellpadding="0" cellspacing="0" style="width: auto !important;")
																			tr
																				<!-- ID:TXT FOOTER-2 -->
																				td(align="center" style="color:#333333;" width="107")
																					a.link(href="#")
																						img(src=image_path+"logo--white.png" alt="log" width="107" height="32" style="display: block; padding: 0; margin: 0; border: 0;")

														+IE-1({col_td: 2, width_col: '519', aling: 'center', valing: 'top'})
														div(style="display: inline-block; width: 100%; max-width: 519px; vertical-align: top;")
															table(align="center" border="0" cellpadding="0" cellspacing="0" class="display-width-child" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																tr
																	td(align="center" style="font-size: 0;")
																		+IE-1({col: 2, width_col: '324', aling: 'center', valing: 'top'})
																		div(style="display:inline-block; width: 100%; max-width: 326px; vertical-align: top;")
																			table(align="left" border="0" cellpadding="0" cellspacing="0" class="display-width-child" width="100%" style="width: 100%; max-width: 211px;border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																				tr
																					td(width="100%" style="font-size:0;")
																						|&nbsp;
																		+IE-1({col_td: 2, width_col: '195', aling: 'center', valing: 'top'})
																		div(style="display: inline-block; width: 100%; max-width: 190px; vertical-align: top;")
																			<!--TABLE RIGHT-->
																			table(align="right" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																				tr
																					td(align="center" style="font-size:0;")
																						table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																							tr
																								td(align="center")
																									table(align="center" border="0" width="100%" cellpadding="0" cellspacing="0" style="width: auto !important;")
																										tr
																											+td-margin({height: '8'})
																										tr
																											<!-- ID:TXT FOOTER-1 -->
																											td(align="left" valign="middle" width="34")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-14--vk.png" alt="vk" width="14" height="15" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="34")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-14--twitter.png" alt="twitter" width="14" height="14" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="34")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-14--facebook.png" alt="facebook" width="14" height="14" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="34")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-14--linkedin.png" alt="linkedin" width="14" height="14" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="34")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-14--pinterest.png" alt="pinterest" width="14" height="14" style="display: block; padding: 0; margin: 0; border: 0;")
																											td(align="left" valign="middle" width="14")
																												a.link(href="#" target="_blank")
																													img(src=image_path+"icon-14--instagram.png" alt="instagram" width="14" height="14" style="display: block; padding: 0; margin: 0; border: 0;")
																										tr
																											+td-margin({height: '6'})
																		|!{IE_TABLE_END}
														|!{IE_TABLE_END}
									tr
										+td-margin({margin: 'mr-25'})
							|!{IE_TABLE_END}
			|!{IE_TABLE_END}
<!-- HEADER-3 ENDS -->